name: Secrets Update 

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Run a one-line script
        run: |
         echo "::set-output name=secret_value::NewSecret123"
      - name: Update Secret
        env:
          TOKEN: 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
        run: |
          NEW_SECRET_VALUE=${{ steps.secret_value.outputs.secret_value }}
          SECRET_NAME="TEST_API"

          curl -L \
          -H "Accept: application/vnd.github+json" \
          -H "Authorization: Bearer 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" \
          -H "X-GitHub-Api-Version: 2022-11-28" \
          https://api.github.com/repos/DevtoolsOrg/Org_Repo/actions/secrets/public-key
           

