name: Secrets Update 

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Run a one-line script
        run: |
         echo "::set-output name=secret_value::NewSecret123"
      - name: Update Secret
        env:
          TOKEN: "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"
        run: |
          NEW_SECRET_VALUE=${{ steps.secret_value.outputs.secret_value }}
          SECRET_NAME="TEST_API"
          
          curl -X PUT \
            -H "Authorization: token $TOKEN" \
            -H "Accept: application/vnd.github.v3+json" \
            https://api.github.com/repos/Org_Repo/actions/secrets/${SECRET_NAME} \
            -d "{\"encrypted_value\":\"$(echo -n $NEW_SECRET_VALUE | base64)\", "key_id":"568250167242549743"}"
